.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    transition: all 0.5s ease;
    span {
        width: 30px;
        height: 3px;
        background: $text-color;
        display: block;
        transition: all 0.3s ease;
    }
    span.long {
        width: 36px;
    }
    &:hover {
        span {
            width: 36px;
            transition: all 0.3s ease;
        }
        span.long {
            width: 30px;
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    left: -100%;
    height: 100vh;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s ease;
    &.active {
        left: 0%;
        visibility: visible;
        opacity: 1;
    
    }
    &__block {
        text-align: center;
        position: relative;
        // left: -100%;
        width: 345px;
        background-color: #12141D;
        height: 100%;
        padding-top: 140px;
        transition: all 0.6s ease;
        z-index: 10;
    }
    &__close {
        position: absolute;
        top: 24px;
        right: 25px;
        cursor: pointer;
        transition: all 1s ease;
    }
    &__list {
        list-style-type: none;
        height: 60vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid #928d9b8f;
        border-top: none;
        border-bottom: none;
        margin: 0 auto;
        transition: all 0.6s ease;
        
    }
    &__link {
        position: relative;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.5;
        transition: all 0.6s ease;
        &::before {
            content: '';
            position: absolute;
            left: 27px;
            top: 50%;
            transform: translateY(-50%);
            height: 0px;
            width: 0px;
            transition: all 0.6s ease;
        }
        &::after {
            content: '';
            position: absolute;
            right: 27px;
            top: 50%;
            transform: translateY(-50%);
            height: 0px;
            width: 0px;
            transition: all 0.6s ease;
        }
        &:hover {
            opacity: .8;
            transition: all 0.6s ease;
            &::before, &::after {
                width: 30px;
                height: 1px;
                background-color: #928d9b;
                transition: all 0.6s ease;
            }
        }
        a {
            color:#928D9B;
            text-decoration: none;
            padding: 15px;
            margin: 15px;
            border:none;
            // border: 1px solid #928d9b;
            transition: all 1s ease;
        }
        a:hover {
            // border: 5px solid #928d9b;
            transition: all 1s ease;
        }
    }
    &__social {
        position: absolute;
        width: 90px;
        display: flex;
        justify-content: space-between;
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $text-color;
        opacity: 0.7;
    }
}
svg {
    transition: all 0.6s ease;
    &:hover {
        opacity: .8;
        transition: all 0.6s ease;
    }
}
svg path {
    fill: #928D9B;
}



// .hamburger {
//     position: absolute;
//     top: 20px;
//     right: 30px;
//     height: 21px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-end;
//     cursor: pointer;
//     span {
//         display: block;
//         width: 30px;
//         height: 3px;
//         background: #151812;
//     }
//     span.long {
//         width: 36px;
//     }
// }

// .menu {
//     position: fixed;
//     top: 0;
//     left: -100%;
//     width: 100%;
//     height: 100vh;
//     z-index: 10;
//     visibility: hidden;
//     opacity: 0;
//     transition: all .6s;
//     &.active {
//         left: 0;
//         visibility: visible;
//         opacity: 1;    
//     }
//     &__block {
//         position: relative;
//         width: 345px;
//         background-color: $main-color;
//         height: 100%;
//         padding-top: 140px;
//         padding-left: 40px;
//         transition: all .6s;
//         z-index: 10;
//     }
//     &__close {
//         position: absolute;
//         top: 25px;
//         right: 25px;
//         cursor: pointer;
//     }
//     &__list {
//         list-style-type: none;
//         padding-left: 35px;
//     }
//     &__link {
//         position: relative;
//         font-weight: bold;
//         font-size: 24px;
//         line-height: 36px;
//         margin-bottom: 15px;
//         &:before {
//             content: '';
//             position: absolute;
//             left: -35px;
//             top: 10px;
//             width: 15px;
//             height: 15px;
//             border-radius: 100%;
//             border: 1px solid #000000;
//             transition: all 0.6s;
//         }
//         &:hover {
//             &:before {
//                 background-color: #fff;
//             }
//         }
//         a {
//             color: #fff;
//         }
//     }
//     &__social {
//         position: absolute;
//         bottom: 50px;
//         left: 50%;
//         transform: translateX(-50%);
//         width: 90px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &__overlay {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: #fff;
//         opacity: .75;
//     }
// }