.promo {
    height: 100vh;
    position: relative;
    // background: url('../img/removebg.png') no-repeat 100%/contain, linear-gradient(to bottom right, #A1939C, #92959A);
    // background: url('../img/removebg2.png') no-repeat 100%/contain, linear-gradient(244deg, #464352 10%, #C2BBC7 105%);
    background: linear-gradient(244deg, #565264a4 1%, #c2bbc79d 105%);
    // background: linear-gradient(244deg, #9F91A1 1%, #C2BBC7 105%);
    animation: gradient 7s ease infinite;
    background-size: 200%;
    .container_promo {
        margin-top: -6%;
    }
    &__me {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: auto;
    }
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        width: 243px;
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }
    &__link {
        color: $text-color;
        box-sizing: border-box;
        font-weight: bold;
        padding: 12px 25px;
        transition: all 0.5s ease;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
            text-decoration: none;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: all 0.5s ease;
        }
    }
    @keyframes gradient {
        0%{
        background-position: 0 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
    background-position: 0 50%;
        }
    }
    .type1 {
        position: relative;
        border: none;
        background-color: transparent;
        outline: none;
        &::after, &::before {
            content: '';
            display: block;
            position: absolute;
            width: 20%;
            height: 20%;
            border: 2px solid;
            transition: all 0.6s ease;
            border-radius: 2px;
        }
        &::after {
            bottom: 0;
            right: 0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: $text-color;
            border-right-color: $text-color;
        }
        &::before {
            top: 0;
            left: 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: $text-color;
            border-left-color: $text-color;
        }
        &:hover::after,
        &:hover::before {
            width: 105%;
            height: 110%;
        }
    }
}

