.sidepanel {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;
    &__link {
        padding: 5px;
        position: relative;
        transition: all 0.6s ease;
        &:hover {
            transform: translateX(-10px);
            transition: all 0.6s ease;
        }
        &::after {
            content: "Click";
            position: absolute;
            transition: all 0.6s ease;
            font-size: 14px;
            left: 10px;
            bottom: 5px;
            color: $text-color;
            opacity: 0;
            // z-index: 3;
        }
        &:hover::after {
            left: 35px;
            opacity: 1;
        }
    }
    &__anim1 {
        position: relative;
        &::after {
            content: "code";
        }
    }
    &__anim2 {
        position: relative;
        &::after {
            content: "life";
        }
    }
    &__anim3 {
        position: relative;
        &::after {
            content: "text";
        }
    }
    &__divider {
        margin: 5px;
        width: 2px;
        height: 70px;
        background-color: #000;
    }
    &__text {
        margin: 5px;
        height: 150px;
        width: 25px;
        span {
            transform: rotate(-90deg) translate(-30%,-260%);
            display: block;
            width: 150px;
        }
    }
}
.tg {
    width: 20px;
    height: 20px;
    // transform: rotate(-90deg);
}
.inst {
    transform: rotate(90deg);
}
.git {
    transform: rotate(90deg);
}